* {
	margin: 0;
	padding: 0;
}

main {
	height: 100vh;
	width: 100vw;
	background-image: url(../images/bg-small.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	@media (min-width: 1000px) {
		background-image: url(../images/bg.jpg);
	}
}
