<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Scratch Studio</title>
	<link rel="stylesheet" media="screen" href="resources/css/app.css" />
</head>
